* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  background: red;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}
.nav a {
  color: inherit;
  text-decoration: none;
}
.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.nav .logo {
  font-size: 2rem;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carContainer {
  display: flex;
  justify-content: space-between;
}
.carContainer .carElement {
  width: 50px;
}
